    @media screen and (max-width:575px)
    

    .header img {
        display: none
    }

    .Bienvenidos h2{
        font-size: 15px;
    }

    .contenedor-bienvenidos {
    div{ width: 100px; height: 100px;
    p{font-size: 10px;
        a{
    font-size: 10px;
        }
    }

    }


    div .carta p{
    font-size: 15px;

    }

    .Informacion h1{
    font-size: 15px;
    }

    .carta p{
    font-size: 15px;
    }


    .Whatsapp div{
    position: relative; left: 40px;
    }


    
    .Bienvenidos div img{
    width: 100px; height: 100px;

    }
    
    .redesfooter .logo {
        width: 70px;
    height: 70px;
    }

    .bienvenida-inicio{

    h1{font-size: 15px;
    }
    p{
    font-size: 15px;
    }

    }

    }

    @media screen and (max-width:400px)

    {


    .contenedor-bienvenidos{
        flex-direction:column
        ;gap: 10px;
    }
    .Bienvenidos h2{
    font-size: 10px;
    }


    .redesfooter .logo {
        width: 40px;
    height: 40px;

    }


    .bienvenida-inicio{

    h1{font-size: 10px;
    }
    p{
    font-size: 10px;
    }


    }

    .Informacion h1{
    font-size: 12px;
    }

    .carta p{
    font-size: 12px;
    }





    .Whatsapp{
    position: relative; top: 10px;
    left: 250px; 
    }





    }
